SAAS_DB_MODE=per_database
MASTER_DB_HOST=localhost
MASTER_DB_PORT=3306
MASTER_DB_NAME=core_master
MASTER_DB_USER=root
MASTER_DB_PASS=
MASTER_DB_KEY=PEGA_AQUI_UNA_CLAVE_BASE64_DE_32_BYTES
PROVISION_DB_ADMIN_USER=root
PROVISION_DB_ADMIN_PASS=
TENANT_DB_HOST=localhost
TENANT_DB_PORT=3306
TENANT_DB_PREFIX=core_tenant_
TENANT_DB_USER_PREFIX=core_u_
TENANT_DB_USER_HOST=localhost
